body {
    background-color: red;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    text-align: center;
    font-size: 100px;
    font-style: oblique;
    color: rgb(120, 120, 126);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
   background-color:white;
    justify-items: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
   background-color:white;
   color:white;
  }
  
  li {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #404040;
  }
  
  .film-card {
    display: none;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 5px;
    
  }
  
  .film-card.active {
    display: block;
  }
  
  .film-card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
    align-items: start;
  }
  
  .film-card-content {
    text-align: center;
    align-items: start;
  }
  
  .film-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .film-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .film-byline {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .film-btn {
    background-color: #008b8b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  
  footer {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  